stages:
  - build
  - package
  - test

variables:
  APP_VERSION: $CI_PIPELINE_IID

build application:
  image: node:16-alpine
  stage: build
  script:
    - npm install

build docker image:
  stage: package
  image: docker:20.10.12
  services:
    - docker:20.10.12-dind
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE -t $CI_REGISTRY_IMAGE:$APP_VERSION .
    - docker image ls
    - docker push --all-tags $CI_REGISTRY_IMAGE

test docker image:
  stage: test
  image: docker:20.10.12
  services:
    - docker:20.10.12-dind
  script:
    - apk add --no-cache curl
    - container_id=$(docker run -d -p 4000:4000 $CI_REGISTRY_IMAGE:$APP_VERSION)
    - sleep 10 
    - curl --retry 5 --retry-delay 5 --retry-connrefused http://localhost:4000
    - docker stop $container_id
    - docker rm $container_id
